@tailwind base;
@tailwind components;
@tailwind utilities;

iframe#webpack-dev-server-client-overlay{display:none!important}


body {
  background-color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #F5F5F5;
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #1f1f1f;
  border-radius: 6px;
}
.card-container {
  transition: transform 0.2s ease-in-out, border 0.2s ease-in-out;
  border-radius: 8px;
}

.card-container:hover {
  transform: scale(1.05);
  border: 2px solid transparent; 
  border-image: linear-gradient(45deg, #ff6b6b, #8a4baf);
  border-image-slice: 1;
  border-radius: 8px;
}